*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  font-size: calc(100vh / 140);
  line-height: 1;
  font-feature-settings: "palt";
  background: #fff;
  color: #000;
  text-size-adjust: 100%;
  overflow: hidden;
}

.kv * {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.kv .honoka {
  background-image: url(img/honoka.png);
  background-position: top right;
  right: 0;
  top: 0;
  z-index: 2199;
}

.kv .miyuki {
  background-image: url(img/miyuki.png);
  background-position: bottom right;
  background-origin: bottom right;
  right: 0;
  bottom: 0;
  z-index: 2399;
}

.kv .shizuku {
  background-image: url(img/shizuku.png);
  background-position: bottom left;
  left: 0;
  bottom: 0;
  z-index: 2299;
}

.kv .cad-1 {
  background-image: url(img/cad-1.png);
  background-position: center left;
  left: 0;
  bottom: 0;
  z-index: 1199;
}

.kv .cad-2 {
  background-image: url(img/cad-2.png);
  background-position: left center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-3 {
  background-image: url(img/cad-3.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-4 {
  background-image: url(img/cad-4.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-5 {
  background-image: url(img/cad-5.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.glow {
  z-index: 999;
}

.glow * {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.66;
  border-radius: 50%;
}

.glow .honoka {
  top: 0;
  right: 0;
  height: 110%;
  width: 110%;
  transform: translate(50%, -50%);
  background: radial-gradient(ellipse at center, #f7d67d 0%, transparent 70%);
}

.glow .shizuku {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  background: radial-gradient(ellipse at center, #ba88e7 0%, #ba88e7 26%, transparent 70%);
}

.glow .miyuki {
  right: 0;
  bottom: 0;
  height: 90%;
  width: 90%;
  transform: translate(50%, 50%);
  background: radial-gradient(ellipse at center, #86dfe7 0%, #86dfe7 40%, transparent 70%);
}

.logo {
  position: absolute;
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20%;
  width: 30%;
  top: 48%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.animated {
  animation-fill-mode: both;
  --bezier: cubic-bezier(0.01, 0.9, 0, 0.79);
}

.animated.delay-0 {
  animation-delay: 1s;
}

.animated.delay-1 {
  animation-delay: 1.1s;
}

.animated.delay-2 {
  animation-delay: 1.2s;
}

.animated.delay-3 {
  animation-delay: 1.3s;
}

.animated.delay-4 {
  animation-delay: 1.4s;
}

.animated.delay-5 {
  animation-delay: 1.5s;
}

.animated.delay-6 {
  animation-delay: 1.6s;
}

.animated.delay-7 {
  animation-delay: 1.7s;
}

.animated.delay-8 {
  animation-delay: 1.8s;
}

.animated.delay-9 {
  animation-delay: 2s;
}

.animated.delay-10 {
  animation-delay: 2.2s;
}

.animated.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.4s;
}

.animated.fadeInMiyuki {
  animation-name: fadeInMiyuki, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInHonoka {
  animation-name: fadeInHonoka, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInShizuku {
  animation-name: fadeInShizuku, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInCAD5 {
  animation-name: fadeInCAD5, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInCAD4 {
  animation-name: fadeInCAD4, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInCAD3 {
  animation-name: fadeInCAD3, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInCAD2 {
  animation-name: fadeInCAD2, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInCAD1 {
  animation-name: fadeInCAD1, fadeIn;
  animation-duration: 18s, 0.6s;
  animation-timing-function: var(--bezier), linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@keyframes fadeInMiyuki {
  0% {
    transform: translate(-14%, 6%) rotate(14deg) scale(1.4);
  }
}

@keyframes fadeInHonoka {
  0% {
    transform: translate(8%, -8%) rotate(12deg);
  }
}

@keyframes fadeInShizuku {
  0% {
    transform: translate(-6%, 8%) rotate(6deg);
  }
}

@keyframes fadeInCAD5 {
  0% {
    transform: rotate(30deg);
  }
}

@keyframes fadeInCAD4 {
  0% {
    transform: rotate(13deg);
  }
}

@keyframes fadeInCAD3 {
  0% {
    transform: rotate(16deg);
  }
}

@keyframes fadeInCAD2 {
  0% {
    transform: translate(0%, -14%);
  }
}

@keyframes fadeInCAD1 {
  0% {
    transform: rotate(8deg);
  }
}
