*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vh / 140);
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  font-size: calc(100vh / 140);
  line-height: 1;
  font-feature-settings: "palt";
  background: #fff;
  color: #000;
  text-size-adjust: 100%;
  overflow: hidden;
}

.catch {
  position: absolute;
  background-image: url(img/catch_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22%;
  width: 22%;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  animation-name: catch;
  animation-duration: 6.4s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  z-index: -99;
  will-change: opacity, transform;
}

@keyframes catch {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    display: none;
  }
}

.kv {
  --x: 0px;
  --y: 0px;
  --global-move-rate: 0.02;

  &.sp {
    position: absolute;
    background-image: url(img/kv.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 9;
  }

  * {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    transform-origin: center;
    will-change: transform, opacity, background-position;
  }

  .honoka {
    --move-rate-x: calc(var(--global-move-rate) * 1.2);
    --move-rate-y: calc(var(--global-move-rate) * 1.8);
    background-image: url(img/honoka.png);
    background-origin: top right;
    background-position-x: calc(var(--x) * var(--move-rate-x));
    background-position-y: calc(var(--y) * var(--move-rate-y));
    right: 0;
    top: calc(-100% * var(--move-rate-y));
    z-index: 2199;
  }

  .miyuki {
    --move-rate-x: calc(var(--global-move-rate) * 1.7);
    --move-rate-y: calc(var(--global-move-rate) * 1.4);
    background-image: url(img/miyuki.png);
    background-origin: bottom right;
    background-position-x: calc(100% + var(--x) * var(--move-rate-x));
    background-position-y: calc(100% + var(--y) * var(--move-rate-y));
    z-index: 2399;
  }

  .shizuku {
    --move-rate-x: calc(var(--global-move-rate) * 1.4);
    --move-rate-y: calc(var(--global-move-rate) * 1.2);
    background-image: url(img/shizuku.png);
    background-origin: bottom left;
    background-position-x: calc(var(--x) * var(--move-rate-x));
    background-position-y: calc(100% + var(--y) * var(--move-rate-y));
    left: calc(-100% * var(--move-rate-x));
    top: calc(100% * var(--move-rate-y));
    bottom: 0;
    z-index: 2299;
  }

  .cad-1 {
    background-image: url(img/cad-1.png);
    background-position: center left;
    left: 0;
    bottom: 0;
    z-index: 1199;
  }

  .cad-2 {
    background-image: url(img/cad-2.png);
    background-position: left center;
    left: 0;
    top: 0;
    z-index: 1199;
  }

  .cad-3 {
    background-image: url(img/cad-3.png);
    background-position: top center;
    left: 0;
    top: 0;
    z-index: 1199;
  }

  .cad-4 {
    background-image: url(img/cad-4.png);
    background-position: top center;
    left: 0;
    top: 0;
    z-index: 1199;
  }

  .cad-5 {
    background-image: url(img/cad-5.png);
    background-position: top center;
    left: 0;
    top: 0;
    z-index: 1199;
  }

  .logo {
    --move-rate-x: calc(var(--global-move-rate) * 0.1);
    --move-rate-y: calc(var(--global-move-rate) * 0.1);
    position: absolute;
    background-image: url(img/logo.png);
    background-origin: center;
    background-position-x: calc(40% + var(--x) * var(--move-rate-x));
    background-position-y: calc(47% + var(--y) * var(--move-rate-y));
    background-repeat: no-repeat;
    background-size: 30% auto;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
  }
}

.glow {
  z-index: 999;

  * {
    position: absolute;
    height: 100%;
    width: 100%;
    background: transparent;
    opacity: 0.66;
    border-radius: 50%;
  }

  .honoka {
    top: 0;
    right: 0;
    height: 110%;
    width: 110%;
    transform: translate(50%, -50%);
    background: radial-gradient(ellipse at center, #f7d67d 0%, transparent 70%);
  }

  .shizuku {
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: radial-gradient(
      ellipse at center,
      #ba88e7 0%,
      #ba88e7 26%,
      transparent 70%
    );
  }

  .miyuki {
    right: 0;
    bottom: 0;
    height: 90%;
    width: 90%;
    transform: translate(50%, 50%);
    background: radial-gradient(
      ellipse at center,
      #86dfe7 0%,
      #86dfe7 40%,
      transparent 70%
    );
  }
}

.animated {
  animation-fill-mode: both;
  --bezier: cubic-bezier(0.01, 0.9, 0, 0.79);

  &.delay-10 {
    animation-delay: 8s;
  }
  &.delay-11 {
    animation-delay: 8.1s;
  }
  &.delay-12 {
    animation-delay: 8.2s;
  }
  &.delay-13 {
    animation-delay: 8.25s;
  }
  &.delay-14 {
    animation-delay: 8.3s;
  }
  &.delay-15 {
    animation-delay: 8.35s;
  }
  &.delay-16 {
    animation-delay: 8.4s;
  }
  &.delay-17 {
    animation-delay: 8.45s;
  }
  &.delay-18 {
    animation-delay: 8.47s;
  }
  &.delay-19 {
    animation-delay: 9s;
  }
  &.delay-20 {
    animation-delay: 9.2s;
  }
  &.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1.4s;
    animation-timing-function: ease-in-out;
  }
  &.fadeInMiyuki {
    animation-name: fadeInMiyuki, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInHonoka {
    animation-name: fadeInHonoka, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInShizuku {
    animation-name: fadeInShizuku, fadeIn;
    animation-duration: 18s, 0.64s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInCAD5 {
    animation-name: fadeInCAD5, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInCAD4 {
    animation-name: fadeInCAD4, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInCAD3 {
    animation-name: fadeInCAD3, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInCAD2 {
    animation-name: fadeInCAD2, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), ease-in-out;
  }
  &.fadeInCAD1 {
    animation-name: fadeInCAD1, fadeIn;
    animation-duration: 18s, 0.4s;
    animation-timing-function: var(--bezier), linear;
  }
  &.fadeInGlow {
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-timing-function: ease-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeInMiyuki {
    0% {
      transform: translate3d(-20rem, 8rem, 0) rotate(24deg) scale(1.42);
    }
  }
  @keyframes fadeInHonoka {
    0% {
      transform: translate3d(10rem, -8rem, 0) rotate(20deg) scale(1.24);
    }
  }
  @keyframes fadeInShizuku {
    0% {
      transform: translate3d(-7rem, 8rem, 0) rotate(12deg) scale(1.2);
    }
  }
  @keyframes fadeInCAD5 {
    0% {
      transform: rotate(24deg) scale(1.6);
    }
  }
  @keyframes fadeInCAD4 {
    0% {
      transform: rotate(36deg) scale(1.4);
    }
  }
  @keyframes fadeInCAD3 {
    0% {
      transform: rotate(28deg) translateY(10%) scale(1.44);
    }
  }
  @keyframes fadeInCAD2 {
    0% {
      transform: translate3d(0rem, -28rem, 0) scale(1.2);
    }
  }
  @keyframes fadeInCAD1 {
    0% {
      transform: rotate(16deg) scale(1.2);
    }
  }
}

@media screen and (min-aspect-ratio: 7/6) {
  .kv,
  .logo,
  .glow {
    display: block;
  }
  .kv.sp {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 7/6) {
  .kv,
  .logo,
  .glow {
    display: none;
  }
  .kv.sp {
    display: block;
  }
}
