*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vw / 140);
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  font-size: calc(100vh / 140);
  line-height: 1;
  font-feature-settings: "palt";
  background: #fff;
  color: #000;
  text-size-adjust: 100%;
  overflow: hidden;
}

.catch {
  position: absolute;
  background-image: url(img/catch_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 22%;
  width: 22%;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  animation-name: catch;
  animation-duration: 6.4s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  z-index: -99;
  will-change: opacity, transform;
}

@keyframes catch {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  25% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    display: none;
  }
}

.kv {
  --x: 0px;
  --y: 0px;
  --global-move-rate: 0.02;
  z-index: 9999;
}

.kv-sp {
  position: absolute;
  background-image: url(img/kv.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.kv * {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform-origin: center;
  will-change: transform, opacity, background-position, background-position-x, background-position-y;
}

.kv .honoka {
  background-image: url(img/honoka.png);
  background-origin: top right;
  background-position: top right;
  right: 0;
  top: calc(-100% * var(--move-rate-y));
  z-index: 2199;
}

.kv .miyuki {
  background-image: url(img/miyuki.png);
  background-origin: bottom right;
  background-position: bottom right;
  z-index: 2399;
}

.kv .shizuku {
  --move-rate-x: calc(var(--global-move-rate) * 1.4);
  --move-rate-y: calc(var(--global-move-rate) * 1.2);
  background-image: url(img/shizuku.png);
  background-origin: bottom left;
  background-position: bottom left;
  bottom: 0;
  z-index: 2299;
}

.kv .cad-1 {
  background-image: url(img/cad-1.png);
  background-position: center left;
  left: 0;
  bottom: 0;
  z-index: 1199;
}

.kv .cad-2 {
  background-image: url(img/cad-2.png);
  background-position: left center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-3 {
  background-image: url(img/cad-3.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-4 {
  background-image: url(img/cad-4.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-5 {
  background-image: url(img/cad-5.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .logo {
  position: absolute;
  background-image: url(img/logo.png);
  background-origin: center;
  background-position-x: calc(38% + var(--x) * -0.2);
  background-position-y: calc(47% + var(--y) * -0.2);
  background-repeat: no-repeat;
  background-size: 30% auto;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
}

.kv .logo10 {
  position: absolute;
  background-image: url(img/logo10.png);
  background-origin: center;
  background-position: top right;
  background-repeat: no-repeat;
  width: 14rem;
  height: 14rem;
  top: 1.4rem;
  right: 1.4rem;
}

.glow {
  z-index: 999;
  opacity: 0;
}

.glow * {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.6;
  border-radius: 50%;
  will-change: opacity, transform;
}

.glow .honoka {
  top: 0;
  right: 0;
  height: 110%;
  width: 110%;
  transform: translate(50%, -50%);
  background: radial-gradient(ellipse at center, #f7d67d 0%, transparent 70%);
}

.glow .shizuku {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  background: radial-gradient(ellipse at center, #ba88e7 0%, #ba88e7 26%, transparent 70%);
}

.glow .miyuki {
  right: 0;
  bottom: 0;
  height: 90%;
  width: 90%;
  transform: translate(50%, 50%);
  background: radial-gradient(ellipse at center, #86dfe7 0%, #86dfe7 40%, transparent 70%);
}

.animated {
  animation-fill-mode: both;
  --bezier: cubic-bezier(0.01, 0.9, 0, 0.79);
}

.animated.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.4s;
  animation-timing-function: ease-in-out;
}

.animated.fadeInGlow {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-aspect-ratio: 7/6) {
  .konva,
.kv,
.glow {
    display: block;
  }
  .kv-sp {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 7/6) {
  .konva,
.kv,
.glow {
    display: none;
  }
  .kv-sp {
    display: block;
  }
}
