*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(100vh / 140);
}

body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  font-size: calc(100vh / 140);
  line-height: 1;
  font-feature-settings: "palt";
  background: #fff;
  color: #000;
  text-size-adjust: 100%;
  overflow: hidden;
}

.catch {
  position: absolute;
  background-image: url(img/catch_pc.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 24%;
  width: 24%;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  animation-name: catch;
  animation-duration: 6.6s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes catch {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.kv {
  --x: 0px;
  --y: 0px;
  --move-rate: 0.02;
}

.kv.sp {
  position: absolute;
  background-image: url(img/kv.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 9;
}

.kv * {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.kv .honoka {
  left: calc(100% * var(--move-rate));
  top: calc(100% * var(--move-rate));
  background-image: url(img/honoka.png);
  background-position: top right;
  background-position: calc(var(--x) * var(--move-rate)) calc(0% - var(--y) * var(--move-rate));
  right: 0;
  top: 0;
  z-index: 2199;
}

.kv .miyuki {
  left: calc(100% * var(--move-rate));
  top: calc(100% * var(--move-rate));
  background-image: url(img/miyuki.png);
  background-origin: bottom right;
  background-position: bottom right;
  background-position: calc(100% - var(--x) * var(--move-rate)) calc(100% - var(--y) * var(--move-rate));
  right: 0;
  bottom: 0;
  z-index: 2399;
}

.kv .shizuku {
  background-image: url(img/shizuku.png);
  background-position: bottom left;
  left: 0;
  bottom: 0;
  z-index: 2299;
}

.kv .cad-1 {
  background-image: url(img/cad-1.png);
  background-position: center left;
  left: 0;
  bottom: 0;
  z-index: 1199;
}

.kv .cad-2 {
  background-image: url(img/cad-2.png);
  background-position: left center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-3 {
  background-image: url(img/cad-3.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-4 {
  background-image: url(img/cad-4.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.kv .cad-5 {
  background-image: url(img/cad-5.png);
  background-position: top center;
  left: 0;
  top: 0;
  z-index: 1199;
}

.glow {
  z-index: 999;
}

.glow * {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  opacity: 0.66;
  border-radius: 50%;
}

.glow .honoka {
  top: 0;
  right: 0;
  height: 110%;
  width: 110%;
  transform: translate(50%, -50%);
  background: radial-gradient(ellipse at center, #f7d67d 0%, transparent 70%);
}

.glow .shizuku {
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%);
  background: radial-gradient(ellipse at center, #ba88e7 0%, #ba88e7 26%, transparent 70%);
}

.glow .miyuki {
  right: 0;
  bottom: 0;
  height: 90%;
  width: 90%;
  transform: translate(50%, 50%);
  background: radial-gradient(ellipse at center, #86dfe7 0%, #86dfe7 40%, transparent 70%);
}

.logo {
  position: absolute;
  background-image: url(img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20%;
  width: 30%;
  top: 47%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.animated {
  animation-fill-mode: both;
  --bezier: cubic-bezier(0.01, 0.9, 0, 0.79);
}

.animated.delay-10 {
  animation-delay: 8s;
}

.animated.delay-11 {
  animation-delay: 8.1s;
}

.animated.delay-12 {
  animation-delay: 8.2s;
}

.animated.delay-13 {
  animation-delay: 8.3s;
}

.animated.delay-14 {
  animation-delay: 8.35s;
}

.animated.delay-15 {
  animation-delay: 8.4s;
}

.animated.delay-16 {
  animation-delay: 8.45s;
}

.animated.delay-17 {
  animation-delay: 8.5s;
}

.animated.delay-18 {
  animation-delay: 8.57s;
}

.animated.delay-19 {
  animation-delay: 9s;
}

.animated.delay-20 {
  animation-delay: 9.2s;
}

.animated.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.4s;
  animation-timing-function: ease-out;
}

.animated.fadeInMiyuki {
  animation-name: fadeInMiyuki, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInHonoka {
  animation-name: fadeInHonoka, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInShizuku {
  animation-name: fadeInShizuku, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInCAD5 {
  animation-name: fadeInCAD5, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInCAD4 {
  animation-name: fadeInCAD4, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInCAD3 {
  animation-name: fadeInCAD3, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInCAD2 {
  animation-name: fadeInCAD2, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), ease-out;
}

.animated.fadeInCAD1 {
  animation-name: fadeInCAD1, fadeIn;
  animation-duration: 18s, 0.4s;
  animation-timing-function: var(--bezier), linear;
}

.animated.fadeInGlow {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInMiyuki {
  0% {
    transform: translate(-22rem, 10rem) rotate(14deg) scale(1.4);
  }
}

@keyframes fadeInHonoka {
  0% {
    transform: translate(10rem, -8rem) rotate(10deg) scale(1.2);
  }
}

@keyframes fadeInShizuku {
  0% {
    transform: translate(-5rem, 6rem) rotate(6deg) scale(1.1);
  }
}

@keyframes fadeInCAD5 {
  0% {
    transform: rotate(30deg) scale(1.2);
  }
}

@keyframes fadeInCAD4 {
  0% {
    transform: rotate(13deg) scale(1.2);
  }
}

@keyframes fadeInCAD3 {
  0% {
    transform: rotate(16deg) scale(1.3);
  }
}

@keyframes fadeInCAD2 {
  0% {
    transform: translate(0rem, -14rem) scale(1.2);
  }
}

@keyframes fadeInCAD1 {
  0% {
    transform: rotate(8deg) scale(1.1);
  }
}

@media screen and (min-aspect-ratio: 7/6) {
  .kv,
.logo,
.glow {
    display: block;
  }
  .kv.sp {
    display: none;
  }
}

@media screen and (max-aspect-ratio: 7/6) {
  .kv,
.logo,
.glow {
    display: none;
  }
  .kv.sp {
    display: block;
  }
}
