@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/yakuhanjp@3.3.1/dist/css/yakuhanmp-noto.min.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
/* keyframes */
@-webkit-keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes slide-up-bg {
  0% {
    background-position: center top 0px;
  }
  100% {
    background-position: center top -900px;
  }
}

@keyframes slide-up-bg {
  0% {
    background-position: center top 0px;
  }
  100% {
    background-position: center top -900px;
  }
}

@-webkit-keyframes float-anim {
  0% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
  50% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
  100% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
}

@keyframes float-anim {
  0% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
  50% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
  100% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
}

@-webkit-keyframes float-anim-sp {
  0% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
  50% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
  100% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
}

@keyframes float-anim-sp {
  0% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
  50% {
    -webkit-transform: translate(0, 7px);
            transform: translate(0, 7px);
  }
  100% {
    -webkit-transform: translate(0, -7px);
            transform: translate(0, -7px);
  }
}

/*!
  Reset Stylesheet
  Author: yama-dev - https://github.com/yama-dev
  */
html, body, div, span, object, iframe, embed, main,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, source {
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
  font-size: 100%;
}

a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  background: transparent;
  padding: 0;
  font-size: 100%;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  margin: 0;
  border: 0;
  padding: 0;
  height: 1px;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea, datalist {
  vertical-align: middle;
  background-color: transparent;
  min-height: 1.5em;
}

input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

a[href^='tel'] {
  display: inline-block;
  color: inherit;
}

body {
  line-height: 1;
}

body, button, input, select, textarea, datalist {
  word-wrap: break-word;
  font-family: ten-mincho, "Noto Serif JP", "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ 明朝", "ＭＳ Ｐ明朝", serif;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

img {
  display: block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

body {
  background: #ffffff;
  color: #000;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}

main {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

template {
  display: none;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1001px) {
  .is-pc {
    display: block;
  }
  .is-sp {
    display: none;
  }
  .is-pc-inline {
    display: inline;
  }
  .is-sp-inline {
    display: none;
  }
  .is-pc-inline-block {
    display: inline-block;
  }
  .is-sp-inline-block {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .is-pc {
    display: none;
  }
  .is-sp {
    display: block;
  }
  .is-pc-inline {
    display: none;
  }
  .is-sp-inline {
    display: inline;
  }
  .is-pc-inline-block {
    display: none;
  }
  .is-sp-inline-block {
    display: inline-block;
  }
}

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: ".";
}

.u-text-center {
  text-align: center;
}

.u-inline-block {
  display: inline-block;
}

.u-letter--005 {
  letter-spacing: -0.05em;
}

/* layout */
.l-container {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

@media screen and (min-width: 1001px) {
  [data-page-name="top"] .l-container {
    min-height: 97.4vw;
  }
}

.l-main {
  display: block;
  position: relative;
}

/* component */
.c-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 0;
}

.c-header__logo10th {
  position: absolute;
  top: 15px;
  right: 15px;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  width: 110px;
}

.is-load .c-header__logo10th {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 1.5s ease 1.6s, -webkit-transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
  transition: opacity 1.5s ease 1.6s, -webkit-transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
  transition: opacity 1.5s ease 1.6s, transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
  transition: opacity 1.5s ease 1.6s, transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s, -webkit-transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
}

@media screen and (min-width: 1001px) {
  .c-header__logo10th {
    top: 25px;
    right: auto;
    left: 25px;
    width: 155px;
  }
}

.c-header__logo10th a {
  display: block;
}

.c-twitter {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: 10;
  margin-top: 45.5%;
  width: 28px;
}

.is-load .c-twitter {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 1.5s ease 1.6s, -webkit-transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
  transition: opacity 1.5s ease 1.6s, -webkit-transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
  transition: opacity 1.5s ease 1.6s, transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
  transition: opacity 1.5s ease 1.6s, transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s, -webkit-transform 1.5s cubic-bezier(0.26, 0.68, 0.51, 0.96) 1.6s;
}

@media screen and (min-width: 1001px) {
  .c-twitter {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -106px;
    width: 37px;
  }
}

.c-twitter__bg {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

@media screen and (min-width: 1001px) {
  .c-twitter__bg .tw_bg {
    fill: #ffffff;
  }
}

@media screen and (max-width: 1000px) {
  .c-twitter__bg .tw_bg {
    fill: #000060;
  }
}

.c-twitter__link {
  display: block;
}

@media screen and (min-width: 1001px) {
  .c-twitter__link {
    -webkit-filter: brightness(1);
            filter: brightness(1);
    -webkit-transition: -webkit-filter 0.8s ease 0s;
    transition: -webkit-filter 0.8s ease 0s;
    transition: filter 0.8s ease 0s;
    transition: filter 0.8s ease 0s, -webkit-filter 0.8s ease 0s;
  }
  .c-twitter__link:hover {
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  .is-ie .c-twitter__link {
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
  }
  .is-ie .c-twitter__link:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
  }
}

.c-twitter__inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.c-twitter__text {
  position: absolute;
  top: 31px;
  left: 9px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 1;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .c-twitter__text {
    color: #ffffff;
  }
}

@media screen and (min-width: 1001px) {
  .c-twitter__text {
    top: 45px;
    left: 13px;
    font-size: 13px;
    letter-spacing: 0.11em;
    line-height: 1;
  }
}

.c-twitter__icon {
  position: absolute;
  right: 0;
  bottom: 34px;
  left: 0;
  margin: 0 auto;
  width: 20px;
}

@media screen and (min-width: 1001px) {
  .c-twitter__icon {
    bottom: 44px;
    left: 1px;
    width: 25px;
  }
}

.c-twitter__icon svg {
  fill: #1ca0f3;
}

.c-footer {
  position: relative;
}

.c-footer__main {
  position: relative;
  padding: 13.3% 0 14.3%;
}

@media screen and (min-width: 1001px) {
  .c-footer__main {
    padding: 110px 0px 121px;
  }
}

.c-footer__banner {
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .c-footer__banner {
    max-width: 500px;
  }
}

@media screen and (min-width: 1001px) {
  .c-footer__banner {
    margin: 0 auto;
    max-width: 700px;
  }
}

.c-footer__banner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1001px) {
  .c-footer__banner-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .c-footer__banner-item {
    width: 41%;
  }
  .c-footer__banner-item:nth-child(2n + 1) {
    margin-right: 4.6%;
    margin-left: 6.6%;
  }
  .c-footer__banner-item:nth-child(n + 3) {
    margin-top: 4.6%;
  }
}

@media screen and (min-width: 1001px) {
  .c-footer__banner-item {
    margin: 0 10px 20px;
    width: 178px;
  }
}

.c-footer__banner-link {
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

@media screen and (min-width: 1001px) {
  .c-footer__banner-link:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
}

.c-footer__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 54px;
}

@media screen and (min-width: 1001px) {
  .c-footer__share {
    margin-top: 49px;
  }
}

.c-footer__share-title {
  position: relative;
  margin-right: 30px;
  margin-bottom: 1px;
  margin-left: 0px;
  padding-bottom: 4px;
  font-size: 10px;
  letter-spacing: 0.05em;
  line-height: 1;
}

.c-footer__share-title::after {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  width: 100%;
  height: 1px;
  content: "";
}

.c-footer__share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-footer__share-item {
  width: 26px;
}

.c-footer__share-item + .c-footer__share-item {
  margin-left: 19px;
}

.c-footer__share-link {
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

@media screen and (min-width: 1001px) {
  .c-footer__share-link:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
}

.c-footer__link {
  margin-top: 28px;
}

@media screen and (min-width: 1001px) {
  .c-footer__link {
    margin-top: 26px;
  }
}

.c-footer__link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-footer__link-item {
  position: relative;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  font-size: 12px;
  letter-spacing: 0.17em;
  line-height: 1;
}

@media screen and (min-width: 1001px) {
  .c-footer__link-item:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    opacity: 0.7;
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }
}

.c-footer__link-item + .c-footer__link-item {
  margin-left: 35px;
}

@media screen and (min-width: 1001px) {
  .c-footer__link-item + .c-footer__link-item {
    margin-left: 40px;
  }
}

.c-footer__link-item + .c-footer__link-item::after {
  position: absolute;
  top: 9%;
  left: -18px;
  background-color: #000;
  width: 1px;
  height: 93%;
  content: "";
}

@media screen and (min-width: 1001px) {
  .c-footer__link-item + .c-footer__link-item::after {
    left: -21px;
  }
}

.c-footer__link-link {
  display: inline-block;
  white-space: nowrap;
}

.c-footer__caution, .c-footer__copy {
  font-size: 10px;
  letter-spacing: 0.1em;
  line-height: 2.1;
}

@media screen and (min-width: 1001px) {
  .c-footer__caution, .c-footer__copy {
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.8;
  }
}

.c-footer__caution {
  margin-top: 16px;
}

@media screen and (min-width: 1001px) {
  .c-footer__caution {
    margin-top: 17px;
  }
}

body.is-open-comment {
  overflow: hidden;
}

.m-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.is-load .m-comment {
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.m-comment__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.m-comment__main {
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.m-comment__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 60px;
  min-height: 100%;
}

@media screen and (min-width: 1001px) {
  .m-comment__inner {
    padding: 144px 0 144px;
  }
}

.m-comment__base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m-comment__contents {
  position: relative;
}

.m-comment__close {
  position: absolute;
  right: 26px;
  bottom: 26px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #9dffe8;
  width: 71px;
  height: 71px;
}

@media screen and (min-width: 1001px) {
  .m-comment__close {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s, -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  }
  .m-comment__close:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (min-width: 1001px) {
  .m-comment__close {
    top: 50px;
    right: 50px;
    bottom: auto;
  }
}

.m-comment__close::before, .m-comment__close::after {
  position: absolute;
  top: 35px;
  left: 17px;
  background-color: #000;
  width: 37px;
  height: 1px;
  content: "";
}

.m-comment__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m-comment__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-open-comment .m-comment {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  pointer-events: auto;
}

.m-comment__contents {
  width: 86.7%;
}

@media screen and (max-width: 1000px) {
  .m-comment__contents {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1001px) {
  .m-comment__contents {
    width: 75%;
    max-width: 900px;
  }
}

.m-comment__block + .m-comment__block {
  margin-top: 40px;
}

@media screen and (min-width: 1001px) {
  .m-comment__block + .m-comment__block {
    margin-top: 70px;
  }
}

.m-comment__cap {
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #0f2e89;
  padding: 14px 0;
  padding-left: 0.5em;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0.5em;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 1001px) {
  .m-comment__cap {
    margin-bottom: 35px;
    padding-left: 1em;
    font-size: 15px;
    letter-spacing: 1em;
    line-height: 1.5;
  }
}

.m-comment__name {
  color: #7cd3ff;
}

.m-comment__detail {
  font-size: 15px;
  letter-spacing: 0.1em;
  line-height: 2.2;
  text-align: justify;
}

.m-comment__img {
  margin-top: 35px;
}

@media screen and (min-width: 1001px) {
  .m-comment__img {
    margin: 50px auto 0;
    max-width: 500px;
  }
}

body.is-open-news {
  overflow: hidden;
}

.m-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.is-load .m-news {
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
}

.m-news__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.m-news__main {
  -webkit-overflow-scrolling: touch;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.m-news__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 60px;
  min-height: 100%;
}

@media screen and (min-width: 1001px) {
  .m-news__inner {
    padding: 144px 0 144px;
  }
}

.m-news__base {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.m-news__contents {
  position: relative;
}

.m-news__close {
  position: absolute;
  right: 26px;
  bottom: 26px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #9dffe8;
  width: 71px;
  height: 71px;
}

@media screen and (min-width: 1001px) {
  .m-news__close {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s, -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  }
  .m-news__close:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (min-width: 1001px) {
  .m-news__close {
    top: 50px;
    right: 50px;
    bottom: auto;
  }
}

.m-news__close::before, .m-news__close::after {
  position: absolute;
  top: 35px;
  left: 17px;
  background-color: #000;
  width: 37px;
  height: 1px;
  content: "";
}

.m-news__close::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.m-news__close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.is-open-news .m-news {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  pointer-events: auto;
}

.m-news__contents {
  width: 83.6%;
}

@media screen and (max-width: 1000px) {
  .m-news__contents {
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 1001px) {
  .m-news__contents {
    width: 62.7%;
    max-width: 900px;
  }
}

.m-news__head {
  margin-bottom: 25px;
}

@media screen and (min-width: 1001px) {
  .m-news__head {
    margin-bottom: 38px;
  }
}

.m-news__date {
  margin-bottom: 12px;
  font-size: 12px;
  letter-spacing: 0.21em;
  line-height: 1.5;
}

@media screen and (min-width: 1001px) {
  .m-news__date {
    margin-bottom: 22px;
    font-size: 12px;
    letter-spacing: 0.21em;
    line-height: 1.5;
  }
}

.m-news__title {
  margin-left: -5px;
  font-family: YakuHanMP_Noto, "Noto Serif JP", "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ 明朝", "ＭＳ Ｐ明朝", serif;
  font-size: 26px;
  letter-spacing: 0.05em;
  line-height: 1.5;
}

@media screen and (min-width: 1001px) {
  .m-news__title {
    margin-left: -3px;
    font-size: 26px;
    letter-spacing: 0.05em;
    line-height: 1.5;
  }
}

.m-news__text {
  font-family: YakuHanMP_Noto, "Noto Serif JP", "游明朝", "YuMincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ 明朝", "ＭＳ Ｐ明朝", serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 2.1;
  text-align: justify;
}

@media screen and (min-width: 1001px) {
  .m-news__text {
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 2.4;
  }
}

.m-news__text a {
  text-decoration: underline;
}

@media screen and (min-width: 1001px) {
  .m-news__text a:hover {
    text-decoration: none;
  }
}

body.is-modal-open, body.is-modal-overflow {
  overflow: visible !important;
}

.m-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.m-modal .m-modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff !important;
  width: 100%;
  height: 100%;
}

.m-modal .m-modal__content {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  background-color: #000;
  width: 100% !important;
}

.m-modal .m-modal__content .m-modal__close-btn {
  position: fixed !important;
  top: auto !important;
  right: 26px !important;
  bottom: 26px;
  cursor: pointer;
  border-radius: 100%;
  background-color: #9dffe8;
  width: 71px;
  height: 71px;
}

@media screen and (min-width: 1001px) {
  .m-modal .m-modal__content .m-modal__close-btn {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
    transition: transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s, -webkit-transform 0.7s cubic-bezier(0.25, 1, 0.5, 1) 0s;
  }
  .m-modal .m-modal__content .m-modal__close-btn:hover {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media screen and (min-width: 1001px) {
  .m-modal .m-modal__content .m-modal__close-btn {
    top: 50px !important;
    right: 50px !important;
  }
}

.m-modal .m-modal__content .m-modal__close-btn::before, .m-modal .m-modal__content .m-modal__close-btn::after {
  top: 35px !important;
  left: 17px !important;
  background-color: #000;
  width: 37px !important;
  height: 1px !important;
}
